
<body class="WOD-tracker-body">
<h1 class="font-stencil">WOD Tracker</h1>

<div class="col-lg-6">
    <div class="input-group-sm">
        <%= form_tag(user_schedules_path, :method => "get") do %>
            <%= text_field_tag :term %>
            <%= submit_tag "Search", name: nil %>
        <% end %>
    </div>
</div>

<% @user_schedules.each do |a| %>
<div class="card mx-auto text-center w-75">
  <div class="card-header bg-primary">
    WOD - 
  </div>
  <div class="card-block"> 
      <p><%= a[:user_notes] %></p>
  </div>
</div>
<% end %>
</body>