<div class="modal fade" id="edit_schedule">
  <div class="modal-dialog">
    <div class="modal-content row main container">
      <div class="modal-header">
        <h4 class="modal-title">Edit Event</h4>
      </div>
      <div class="modal-body">
        <%= render 'form', schedule: @schedule %>
      </div>
    </div>
  </div>
</div>
