<%if current_user.coach_auth == true %>
<div class="modal fade" id="new_schedule">
  <div class="modal-dialog">
    <div class="modal-content row main container">
      <div class="modal-header">
        <h4 class="modal-title">Create New Workout</h4>
      </div>
      <div class="modal-body">
        <%= render 'form', schedule: @schedule %>
      </div>
    </div>
  </div>
</div>
<%end%>